.box1 {
  width: 300px;
  height: 60px;
  // background-color: rgba(0, 0, 0, 0.5);
  color: gray;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-top: 25px;
  margin-left: 30px;
  // margin: 7px;
}
