.ev {
  width: 1400px;
  height: 900px;

  overflow: auto;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: rgb(255, 255, 255, 0.7);
  margin-top: 30px;
  margin-left: 450px;
}
