.mainside {
  width: 53px;
  height: 316px;
  border: 1px solid;
  color: white;
  // writing-mode: horizontal-tb;
  text-align: center;
  // position: relative;
  // top: 3px;
  // right: 2px;
  font-size: 21px;
  padding: 5px;
  padding-top: 85px;
  margin-top: -1px;

  // margin-left: 332px;

  background-color: rgb(19, 68, 160);
}
