.box2 {
  width: 120px;
  height: 60px;
  text-align: left;
  // display: flex;
  // margin-left: 1px;
  margin-left: 10px;

  border: none;

  outline: none;
  background-color: transparent;
  color: gray;

  font-size: large;
  cursor: pointer;
}
