$green: #99f8b959;
$yellow: #fcfab4;
$white: #ffffff;

.selD {
  display: flex;
  select {
    width: 350px;
    height: 34px;
    margin: 1px;
    margin-left: 1px;
    outline: none;
    text-align: center;
  }
  label {
    width: 150px;
    height: px;

    border: 1.5px solid rgb(209, 209, 209);
    padding: 6px;

    text-align: right;
    background-color: rgb(157, 190, 252);
    &:hover {
      background-color: $white;
    }
    &:focus {
      background-color: $white;
    }
  }
}
